<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Docs PearlBet</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p>This is a developer center.</p>
      <p>
        Don't know where to start? Read the <a href="{{APP_URL}}/docs">documentation</a>.
      </p>
    </div>
  </section>
</body>
</html>
